$module: 'ng-clear-button';

.#{$module} {

  &__input[type="search"] {
    -webkit-appearance: textfield;
  }

  &__input::-ms-clear {
    display: none;
  }

  &__input[type="search"]::-webkit-search-decoration,
  &__input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &__button {
    opacity: 0.01;
    position: absolute;
    right: 4px;
    top: 0;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--filled {

      &.#{$module}__button--focused,
      &.#{$module}__button--visible {
        cursor: default;
        opacity: 0.99;
      }
    }
  }
}
